.source-basket{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-right{
    display: flex;
    align-items: center;
    background-color: #d5ffe170;
    border-radius: 5px;
  }
}
.setting{
  display: flex;
  justify-content: space-between;
  align-items: center;
}