.dadata__input {
  padding: 10px 15px;
  outline: none;
  border: 1px solid #c4c4c4;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 16px;
  &:focus{
    border: 2px solid #1976d2;
    padding: 9px 14px;
  }
}